.header-container {
  padding: 0px 18%; 
}

.navbar {
  margin-top: -45px;
}

.nav-item {
  padding: 0 15px;
}

.call-us-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 96, 103);
  transition: background-color .2s ease;
}

.fa-bars {
  font-size: 50px;
  padding: 20px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  display: none !important;
}

.fa-xmark {
  font-size: 50px;
  padding: 20px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}


/* ************************
-----MOBILE STYLING-------
************************ */
.desktop-mobile-links {
  display: block !important;
  margin-top: 30px;
}

@media only screen and (max-width: 1400px) {
  .navbar {
  margin-top: -30px;
}
}

@media only screen and (max-width: 1140px) {
  .HEAD-RIGHT {
    display: none !important;
  }
}

/* remove the query below after home page is finished & fixed, and then a hamburger menu can be created in its stead */
@media only screen and (max-width: 800px) {
.navbar {
  justify-content: left !important;
  margin-left: 18%;
  margin-top: -50px;
}

.desktop-nav-links {
  display: none !important;
}

.self-start {
  height: 66px !important;
}

/* if a hamburger menu is created, you will need to either change or delete the code below */
.HEADER {
  background-color: #005067;
}

/* ************************
-----  SLIDER MENU   ------
************************ */
.slider-menu {
  height: 1800px;
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(0, 96, 103);
  color: white;
  padding-top: 40px;
  font-size: 20px;
  
}

.fa-bars {
  display: block !important;
}

.SERVICES {
  padding: 0px !important;
}
}

@media only screen and (min-width: 800px) {
  .desktop-mobile-links {
    display: none !important;
  }
}





